.Passwordsecurity-header{
    background-color: rgb(224, 226, 246);
    height: 6em;
    width: 100em;
}
.Passwordsecurity-main{
    display: flex;
    height: 40.4em;
    width: 85em;
    margin-left: 14.6em;
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;

}
.Passwordsecurity-main-child-box{
    margin-top: 5em;
    height: 32.1em;
    width: 46em;
    border-bottom: 1px soild black;
    background-color: rgb(224, 226, 246);
}
#password-label{
    margin-left: 12em;
    }
#updatedpassword{
        margin-left: 5em;  
    }
    #updatebtn{
        width: 8em;
        height: 2em;
        margin-top: 25em;
        margin-left: 22em;
    }