.uploadDp-container{
    /* margin-top: 2em; */
    width: 30em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35em;
    background-color: rgb(238, 238, 238);
    box-shadow: 2px 2px 4px 2px rgba(22, 20, 20, 0.3);
}
.next{
    margin-bottom: 1em;
    margin-top: 1em;
    width: 6em;

}