
.signup-container {
    margin: 5em;
    display: flex;
    background-color: #fff;
    width: 89em;
    box-shadow: 2px 2px 4px 4px rgba(22, 20, 20, 0.3);
    height: 37em;
}

.leftBox {
    height: 35.6em;
    width: 47em;
}

#icon {
    height: 8em;
    width: 8em;
    margin-left: 18em;
    margin-top: 13em;
}

#greet {
    padding-left: 1.3em;
    width: 7em;
    border-radius: 23px;
    margin-top: 3em;
    display: inline-block;
    background-color: white;
    border: 2px solid #893BFF;
    color: #893BFF;
    margin-left: 6.8em;

}

.rightBox {
   

    /* background-color: red; */
    width: 32em;
    height: 40.6em;
    border-left: 1px solid #893BFF;
    /* opacity: 50%; */
}

#emailid {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 6em;
    margin-left: 16em;
    height: 2.5em;
    width: 23em;
    display: flex;
    border: 2px solid #893BFF;
    border-radius: 4px;
}

#userpassword {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1em;
    margin-left: 16em;
    height: 2.5em;
    width: 23em;
    display: flex;
    border: 2px solid #893BFF;
    border-radius: 4px;


}
#userfirstname{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1em;
    margin-left: 16em;
    height: 2.5em;
    width: 23em;
    display: flex;
    border: 2px solid #893BFF;
    border-radius: 4px;
}
#userlastname{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1em;
    margin-left: 16em;
    height: 2.5em;
    width: 23em;
    display: flex;
    border: 2px solid #893BFF;
    border-radius: 4px;
}
#usergender{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1em;
    margin-left: 16em;
    height: 2.5em;
    width: 23em;
    display: flex;
    border: 2px solid #893BFF;
    border-radius: 4px;
}
#userDob{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1em;
    margin-left: 16em;
    height: 2.5em;
    width: 23em;
    display: flex;
    border: 2px solid #893BFF;
    border-radius: 4px;
}
#userfile{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1em;
    margin-left: 16em;
    height: 2.5em;
    width: 23em;
    display: flex;
    border: 2px solid #893BFF;
    border-radius: 4px;
}


/* input::placeholder{
    text-align: center;
    color: #893BFF;
    font-size: 15px;
} */
.submit{
    cursor: pointer;
    color: white;
    background-color: #893BFF;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 3em;
    margin-left: 15em;
    height: 2.5em;
    font-size: 17px;
    width: 14em;
    display: flex;
    border: 2px solid #893BFF;
    border-radius: 4px;

}